---
export interface Props {
	name: string
	start: string
	end?: string
	title: string
	peopleManager?: boolean
	description: string
	valueAdds: string[]
}

const { name, start, end, title, peopleManager = false, description, valueAdds } = Astro.props;
---


<li class="mt-4">
	<div class="border-emerald-300 border-l-4 pl-2">
		<h3 class="text-2xl">{name}</h3>
		<p class="text-sm italic">{start} - {end || "Today"}</p>
	</div>

	<p class="text-lg underline underline-offset-2 italic">{title}</p>
	{peopleManager && <span>👫 <span class="italic">Included People Managing</span></span>}

	<p class="text-md ml-4">{description}</p>

  {/*
	<div class="grid">
	  {stats.map(stat => <Stat {...stat} />)}
	</div>
	*/}

	<details class="group/deets">
		<summary class="ml-6 text-teal-500 cursor-pointer"><span class="group-open/deets:hidden">Show</span><span class="hidden group-open/deets:inline">Hide</span> Value Adds</summary>
		<ul class="text-sm ml-10 list-disc">
	  	{valueAdds.map(valueAddDesc => <li>{valueAddDesc}</li>)}
		</ul>
	</details>
</li>
